
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif
}

header{
  background-color: #3160E0;

}

.jumbotrom{
background-image:url(../img/jumbo.png);
align-items: center;
justify-content: center;
min-height: 630px;
background-size: cover;
}

.content-box{
  max-width: 800px;
  min-height: 300px;
  justify-content: center;
  align-items: center;

}



.header-top{
  height: 95px;
  background-color: #3160E0;
}

.header-top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3160E0;
    height: 90px;
}
  
.debug{
    border: 1px solid black;
}
  
a{
    text-decoration: none;
    color: white;
}

.title{
    font-size: 3rem;
    margin: 20px;
    text-align: center;
}

.testo{
  margin: 20px;
  text-align: center;
}

.white{
    color: white;
}

.bottoni{
  align-items:center
}
.bot-white{
    color: black;
    padding: 15px;
    border-radius: 25px;
    background-color: white;
    margin: 25px;
}

.bot-black{
  color: white;
  padding: 15px;
  border-radius: 25px;
  background-color: black;
  margin: 25px;
}

header nav ul{
    color: white;
    display: flex;
    list-style: none;
}


.container{
  max-width: 900px;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

/* ********** HEADER ********* */





.row{
  display: flex;
}

.col {
  padding: 0 10px;
}

header .container{
  height: 100%;
}

header .navbar .row{
  background-color:#3160E0;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

nav ul li a{
  margin: 0 10px;
  text-decoration: none;
  padding: 5px 10px;
}



/* ********** /HEADER ********* */

/* ********** MAIN ************ */
main{
  width: 100%;
  margin: 0 auto;
}

.fucsia{
  width: 700px;
  height: 250px;
  border: 2px solid black;
  margin: 30px;
}

.container-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 650px;
}

.sidebar{
  width:550px;
  min-height: 500px;
}

.pink{
  width:350px;
  min-height: 500px;
}

.lightgray{
  background-color: lightgray;
}

.black{
  background-color: black;
  
}

.container-fourth{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth{
  width: 900px;
  min-height: 700px;
  background-color: darkgreen;
  margin: 60px
}

.container-five{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 600px;
}

.red{
  background-color: lightcoral;
  min-height: 600px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 15px auto;
}

.forest{
  background-color:forestgreen;
  min-height: 600px;
  width: 150px;
  display: flex;
  justify-content: center ;
  align-self: center;
  margin: 15px auto;
}


/* ********** /MAIN *********** */

/* ********** FOOTER ********** */

footer{
  display: flex;
  justify-content: center;
  align-items: end;
  background-color:brown;
  width: 100%;
  margin: 0 auto;

}

.foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  min-height: 70px;
  background-color: aqua;
  margin-top: 30px
}

footer div{
  background-color:aquamarine

}

footer .row{
  width: 900px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div p{
  background-color: orange;
  padding: 10px;
}

footer div button{
  background-color: orange;
  padding: 10px;
}



/* ********** /FOOTER ********** */