
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif
}

header{
  background-color: #3160E0;
  margin-bottom: 40px;

}

.jumbotrom{
background-image:url(../img/jumbo.png);
align-items: center;
justify-content: center;
min-height: 630px;
background-size: cover;
}

.jumbo{
  text-align: center;
}

.content-box{
  max-width: 800px;
  min-height: 300px;
  text-align: left

}

.header-top{
  height: 95px;
  background-color: #3160E0;
}

.header-top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3160E0;
    height: 90px;
}
  
a{
    text-decoration: none;
    color: white;
}

.title{
    font-size: 2.2rem;
    margin: 20px;
    text-align: left;
    font-weight: bold;
}

.testo{
  margin: 20px;
  text-align: left;
}

.white{
    color: white;
    text-align: center;
    padding: 10px;
}

span{
  text-align: center;
}

.bot-white{
    color: black;
    padding: 15px;
    border-radius: 25px;
    background-color: white;
    margin: 25px;

}

.bot-black{
  color: white;
  padding: 15px;
  border-radius: 25px;
  background-color: black;
  margin: 25px;

}

header nav ul{
    color: white;
    display: flex;
    list-style: none;
}


.container{
  max-width: 900px;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

/* ********** HEADER ********* */



.row{
  display: flex;
}

.col{
  padding: 0 10px;
}

header .navbar .row{
  background-color:#3160E0;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

nav ul li a{
  margin: 0 10px;
  text-decoration: none;
  padding: 5px 10px;
}



/* ********** /HEADER ********* */

/* ********** MAIN ************ */

main img{
  margin: 30px;
  padding: 20px;
  max-width: 100%;
  
}

.padding-section{
  margin: 70px;
}

.grey{
  background-color: #F6F6F6;
  width: 100%;
}

main{
  width: 100%;
  margin: 0 auto;
}

.stars{
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  background-image: url(../img/stars.svg);
  background-size: cover;
}
.black{
  background-color: black;
  
}

.container-fourth{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth{
  width: 900px;
  min-height: 700px;
  background-color: darkgreen;
  margin: 60px
}

.container-five{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 600px;


/* ********** /MAIN *********** */

/* ********** FOOTER ********** */

footer{
  display: flex;
  justify-content: center;
  align-items: end;
  background-color:brown;
  width: 100%;
  margin: 0 auto;

}

.foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  min-height: 70px;
  background-color: aqua;
  margin-top: 30px
}

footer div{
  background-color:aquamarine

}

footer .row{
  width: 900px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div p{
  background-color: orange;
  padding: 10px;
}

footer div button{
  background-color: orange;
  padding: 10px;
}



/* ********** /FOOTER ********** */